# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Docker files
docker-compose.yml
docker-compose.override.yml
docker-compose.override.yml.example
docker-compose.override.yml.example.example

# Text and SQL files
*.txt
*.sql

# Logs
logs/
